header {
margin-left:0;
margin-right:0;
width:100%;
background-color:#333;
padding:0;
}

footer {
margin-left:0;
margin-right:0;
width:100%;;
background-color:#333333;
padding:0;
height:50px;
}

html,body {
height:100%;
width:100%;
margin:0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 500;
    color:#222222;
    font-family:'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 2.25em;
    padding-top: 5px;
}
h2 {
    font-size: 1.5em;
    padding-top: 10px;
}

p, ul, .ddoc_summary, .ddoc_description {
color:#373737;
font-size: 1em;
font-family:'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

pre {
padding:5px;
font-size: .9em;
margin: -10px 0 0 0;
background: #ffffff;
line-height: 130%;
box-shadow: 0 0 10px rgba(0,0,0,.1);
}
pre:first-line {
    line-height: 0px;
}

.cl {
    background-color: #fff;
    white-space: pre-line;
    padding-left:2px;
    padding-right:2px;
    font-size: .9em;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.important {
    background-color: #ffebdc;
    border: 1px solid #bbb;
    padding: .5em 1em;
    border-radius: 10px;
    color: #b44;
}

ul {
    margin: -5px 0 0 0;
}

li {
    line-height: 130%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

th,td {
    padding: 20px;
    color:#373737;
    font-size: 1em;
    font-family:'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

/*
li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal;
}
*/

#title {
color:#fff;
font-size: 2.625em;
font-weight:700;
text-shadow:#111 0 0 10px;
}

#logo {
margin-top:10px;
margin-left:50px;
}

.main {
min-height:calc(100vh - 50px);
width:100%;
display:flex;
flex-direction:column;
margin:0;
background: #f2f2f2;
}

.content {
flex:1;
}

.inner {
margin-left:auto;
margin-right:auto;
width: 900px;
height:100%;
padding-left: calc(100vw - 100%);
padding-bottom: 20px;
}

.cent {
margin-left:auto;
margin-right:auto;
width:800px;
padding-left: calc(100vw - 100%);
}

.module {
margin-left:5px;
margin-right:5px;
}

.link {
    color:#007edf;
    text-decoration:none;
    font-size:1em;
    font-family:'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.link:hover {
    text-decoration: underline;
}

.anchor {
    text-decoration:none;
    color:#222222;
    cursor: default;
}


.hnav {
color:#007edf;
text-decoration:none;
font-size:20px;
font-family:initial;
margin:5px;
}

ul.hnav li {
display:inline;
line-height: 100%
}

.para {
margin-top:0;
}

.decl_anchor {
color:#373737;
text-decoration:none;
cursor:default;
}

.module_name {
font-size:36px;
font-weight:700;
}

.dsfml_link {
color:#007edf;
text-decoration:none;
}

.ddoc_section_h {
font-weight:700;
font-size:20px;
}

.code {
font-family:Consolas,"Liberation Mono",Courier,monospace;
}

.com {
color:green;
}

.kwd {
color:#2929e6;
}

.typ {
color:#1396fa;
}

.declaration {
border-top:1px solid #7d7d7d;
border-bottom:1px solid #7d7d7d;
border-top-right-radius:5px;
border-top-left-radius:5px;
background-color:#d3d3d3;
padding-top:2px;
padding-bottom:2px;
font-size: 15px;
}
/*
.ddoc_member {
border-radius:5px;
border-left:1px solid #7d7d7d;
border-right:1px solid #7d7d7d;
border-bottom:1px solid #7d7d7d;
margin-bottom:15px;
margin-left:5px;
margin-right:5px;
}*/

.ddoc_decl_dd {
margin:5px;
}

.ddoc_module_members_section {
margin-top: 35px;
}

.ddoc_param_desc {
padding:7px;
}

.ddoc_module_members {
margin-left:-15px;
}

.ddoc_members {
margin-left:15px;
}

.param_desc {
margin:0;
}

.dep_kwd .pln {
color:red;
}

.ddoc_params .graybox tr td:first-of-type {
text-align:right;
vertical-align:top;
word-break:normal;
white-space:nowrap;
padding:7px;
}

.ddoc_params .graybox {
border:0 none;
}

.ddoc_params .graybox td {
border-color:#d6d6d6;
}

.ddoc_params .graybox tr:first-child > td {
border-top:0 none;
}

.ddoc_params .graybox tr:last-child > td {
border-bottom:0 none;
}

.ddoc_params .graybox tr > td:first-child {
border-left:0 none;
}

.ddoc_params .graybox tr > td:last-child {
border-right:0 none;
}

.ddoc_enum_members {
display:table;
border-collapse:collapse;
margin-bottom:15px;
margin-left:15px;
margin-right:15px;
}

.ddoc_enum_members .ddoc_member {
display:table-row;
}

.ddoc_enum_members .ddoc_decl {
display:table-cell;
border:1px;
background-color:#d3d3d3;
border-style:solid;
padding:2px;
}

.ddoc_enum_members div.dlang {
border:none;
margin:0;
}

.ddoc_enum_members .ddoc_decl_dd {
display:table-cell;
border:1px;
border-style:solid;
padding:2px;
}

.ddoc_enum_members .declaration {
border:none;
}

h4,.ddoc_enum_members .para {
margin-bottom:0;
}

code_lines, .ddoc_members {
list-style-type:none;
padding-left:0;
}

.ddoc_members .ddoc_member{
    border-radius:5px;
    border-left:1px solid #7d7d7d;
    border-right:1px solid #7d7d7d;
    border-bottom:1px solid #7d7d7d;
    margin-bottom:15px;
}

.ddoc_class_members .ddoc_member{
border-radius:5px;
border-left:1px solid #7d7d7d;
border-right:1px solid #7d7d7d;
border-bottom:1px solid #7d7d7d;
margin-bottom:15px;
margin-left:5px;
margin-right:5px;
margin-top: 30px;
list-style-type: none;
padding-left: 0;
}

.dlang,.ddoc_decl {
padding:0;
}

.lists {
margin: -10px 0 -20px 0;
}
